@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-17">LaRose Noir System</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core for LA ROSE NOIR CANDLES & SOAPS LIMITED</a>.</p>
</div>
