@model MVCRoseNoirDatabase.Models.PaymentCard

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PaymentCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PaymentCardId" />
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                <select asp-for="PaymentType" class="form-control"></select>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bank" class="control-label"></label>
                <select asp-for="Bank" class="form-control"></select>
                <span asp-validation-for="Bank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOnCard" class="control-label"></label>
                <input asp-for="NameOnCard" class="form-control" />
                <span asp-validation-for="NameOnCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryYear" class="control-label"></label>
                <input asp-for="ExpiryYear" class="form-control" />
                <span asp-validation-for="ExpiryYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryMonth" class="control-label"></label>
                <input asp-for="ExpiryMonth" class="form-control" />
                <span asp-validation-for="ExpiryMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
