<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RoseNoir Data Base</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCRoseNoirDatabase.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RoseNoir Database</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductOptions" asp-action="Index">Options</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style=" font-size: 16px;" asp-area="" asp-controller="Addresses" asp-action="Index">Addressess</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="OrderItems" asp-action="Index">Order Items</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-muted fixed-bottom">
        <div class="container-lg">
            <section class="row">
                <section class="col-lg-3">
                    <h4>Support</h4>
                    <p><a class="link-dark" asp-area="" asp-controller="Home"asp-action="TermsConditions">Terms and Conditions</a></p>
                    <p><a class="link-dark" asp-area="" asp-controller="Home" asp-action="PrivacyCookiePolicy">Privacy and Cookie Policies</a></p>
                    <p><a class="link-dark" asp-area="" asp-controller="Home" asp-action="TradingTerms">Trading Terms</a></p>
                    <p><a class="link-dark" asp-area="" asp-controller="Home"asp-action="ContactUs">Contact Us</a></p>
                </section>
                <section class="col-lg-3">
                    <h4>Company Registration</h4>
                    <strong>LA ROSE NOIR CANDLES &amp;SOAPS LIMITED</strong><br /><br />
                    <strong></strong>
                </section>
                <section class="col-lg-3">
                    <h4>Contact</h4>
                    <div>
                        <strong>Email:</strong><a href="contactus@larosenoir.co.uk <contactus@larosenoir.co.uk"> Contactus@larosenoir.co.uk</a><br/><br/>
                        <strong>Telephone:</strong>
                        +447904889376<br/>
                    </div> 
                </section>
                <section class="col-lg-3">
                    <h4>Development</h4>
                    <div>
                        <strong>Developed by:</strong>
                        <p>Kate Aniefiok Ibom</p>
                        <p>BSc in Sofware Engineering</p>
                        <p>Buckinghamshire New University</p>
                        <strong>La Rose Noir Project &copy; 2023</strong>
                    </div>

                </section>
            </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
